# for this test, start with this config, Using a podman secret
# then wait to be sure the
# targetConfigs from .fetchit/config.yaml are populated
# and for follow-up test, push a change to the config and confirm
# new targetConfigs are fetched & run
configReload:
  configURL: https://raw.githubusercontent.com/containers/fetchit/main/examples/config-reload.yaml
  schedule: "*/2 * * * *"
gitAuth:
  envSecret: GH_PAT
targetConfigs:
- url: https://github.com/containers/fetchit
  raw:
  - name: raw
    targetPath: examples/raw
    schedule: "*/1 * * * *"
  branch: main
